:root {
    --electric-blue: #78efffff;
    --xanthous: #f7b538ff;
    --silver-lake-blue: #6290c8ff;
    --savoy-blue: #4d64ddff;
}

div h2 {
    font-size: 400%;
}

div p {
    font-size: 150%;
}

.image-format {
    height: 500px;
    padding-bottom: 20px;
}

.section-name-format {
    text-align: center;
}

@media screen and (max-width: 407px) {
    div h2 {
        font-size: 300%;
    }
}

@media screen and (max-width: 480px) {
    .image-format {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    .text-container {
        font-size: 10px;
    }
}