.contact-title {
    font-size: 50px;
}

.form-container {
    font-size: 20px;
    text-align: center;
    outline: solid black;
    background-color: lightgrey;
    margin: auto 30%;
    padding: 20px;
    height: 100%;
}

.contact-background {
    background-color: lightgrey;
}

.form-field-lg {
    width: 90%;
    padding-bottom: 150px;
}

.form-field-sm {
    width: 50%;
}

.text-container {
    outline: black solid;
    background-color: lightgrey;
}

.label-space {
    padding-bottom: 10px;
}