.contact-title {
    font-size: 50px;
}

.form-container {
    font-size: 20px;
    text-align: center;
    outline: solid black;
    background-color: lightgrey;
    margin: auto 30%;
    padding: 20px;
    height: 100%;
}

.contact-background {
    background-color: lightgrey;
}

.form-field-lg {
    width: 90%;
    padding-bottom: 150px;
}

.form-field-sm {
    width: 50%;
}

.text-container {
    outline: black solid;
    background-color: lightgrey;
}

.label-space {
    padding-bottom: 10px;
}

.container-height {
    min-height: 100vh;
}

@media screen and (max-width: 1200px) {
    .form-container {
        font-size: 20px;
        text-align: center;
        outline: solid black;
        background-color: lightgrey;
        margin: auto;
        padding: 20px;
        height: 100%;
        width: 100%;
    }

    .form-field-lg {
        width: 100%;
        padding-bottom: 150px;
        font-size: 10px;
    }
    
    .form-field-sm {
        width: 80%;
        font-size: 10px;
    }

    .contact-title {
        font-size: 40px;
    }
}