:root {
    --savoy-blue: #4d64ddff;
}

.link-image {
    max-height: 50px;
    margin: auto;
}

.link-container {
    background-color: var(--savoy-blue);
    text-align: center;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0px;
}