:root {
    --electric-blue: #78efffff;
    --xanthous: #f7b538ff;
    --silver-lake-blue: #6290c8ff;
    --bittersweet: #f26157ff;
    --savoy-blue: #4d64ddff;
}

.link-image {
    max-height: 50px;
    margin: auto;
}

.link-container {
    background-color: var(--savoy-blue);
    text-align: center;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0px;
}