:root {
    --resolution-blue: #14248aff;
    --oxford-blue: #0d1434ff;
    --savoy-blue: #4d64ddff;
}

.main-colors {
    background-color: var(--savoy-blue);
}

.nav-text {
    color: var(--resolution-blue);
}

.active-nav {
    color: var(--oxford-blue);
    font-size: 20px;
}

.nav-container {
    background-color: var(--savoy-blue);
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0px;
}

@media screen and (max-width: 465px) {
    .nav-title {
        font-size: 40px;
    }
}


