:root {
    --electric-blue: #78efffff;
    --resolution-blue: #14248aff;
    --silver-lake-blue: #6290c8ff;
    --oxford-blue: #0d1434ff;
    --savoy-blue: #4d64ddff;
}

.main-colors {
    background-color: var(--savoy-blue);
}

.nav-text {
    color: var(--resolution-blue);
}

.active-nav {
    color: var(--oxford-blue);
    font-size: 20px;
}

.nav-container {
    background-color: var(--savoy-blue);
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0px;
}