:root {
    --electric-blue: #78efffff;
    --xanthous: #f7b538ff;
    --silver-lake-blue: #6290c8ff;
    --bittersweet: #f26157ff;
    --savoy-blue: #4d64ddff;
}

.resume-container {
    margin: auto;
}

.list-container {
    margin: 50px auto;
    text-align: center;
    outline: solid black;
    outline-width: 5px;
    background-color: lightgray;
    width: fit-content;
    padding: 10px;
}

.list {
    list-style-type: none;
}

.list-item {
    
}

.resume-download {
    text-align: center;
}